.jgall {
  position: relative;
}

.jgall .images-wrapper {
  overflow: hidden;
  position: relative;
  transition: left 0.4s ease;
  list-style: none;
  padding: 0;
  margin: 0;
}

.jgall .images-wrapper > li {
  float: left;
  height: 374px;
  width: 100%;
}

.jgall .images-wrapper > li img {
  font-family: 'object-fit: cover;';
  height: 100%;
  min-width: 320px;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}

.jgall .pagination {
  text-align: center;
  width: 100%;
}

.jgall .pagination .link {
  background-color: #fff;
  border: 2px solid #666;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  margin: 4px;
  transition: all 0.3s ease;
  vertical-align: middle;
  width: 14px;
}

.jgall .arrows {
  vertical-align: middle;
}

.jgall .arrows .arrow-right, .jgall .arrows .arrow-left {
  cursor: pointer;
  font-size: 10rem;
  height: 80px;
  line-height: 3rem;
  margin-top: -40px;
  opacity: 0.9;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease;
  width: 50px;
  user-select: none;
}

.jgall .arrows .arrow-right:hover, .jgall .arrows .arrow-left:hover {
  opacity: 1;
}

.jgall .arrows .arrow-right.inactive, .jgall .arrows .arrow-left.inactive {
  color: #555 !important;
  opacity: 0.8;
}

.jgall .arrows .arrow-right {
  right: 10px;
}

.jgall .arrows .arrow-left {
  left: 10px;
}